
@font-face {
  font-family: 'Nobel-Bold';
  src: url('Nobel-Bold.eot?#iefix') format('embedded-opentype'),  url('Nobel-Bold.otf')  format('opentype'),
	     url('Nobel-Bold.woff') format('woff'), url('Nobel-Bold.ttf')  format('truetype'), url('Nobel-Bold.svg#Nobel-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
